:root {
    --color-black: #1d1d1d;
    --color-white: #ededed;
    --color-accent: #00ff00;
    --color-shade: rgba(0, 0, 0, 0.05);

    --font-sans: 'Inter', Helvetica, Arial, sans-serif;
    --font-serif-small: 'Fraunces', Times, serif;
    --font-serif: beaufort-pro, serif;

    --font-size-base: 10px;

    --projects-gap: 10px;
    --projects-columns: 5;

    --border-radius: 15px;
    --border: 1px solid var(--color-black);

    --switch-height: 20px;
}

* {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-base);
    font-family: var(--font-sans);
    box-sizing: border-box;
    line-height: 1.2rem;

}

/* Scrollbar */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-shade) var(--color-white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 2px;
}

*::-webkit-scrollbar-track {
    background: var(--color-white);
    width: 2px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-black);
    border-radius: 5px;
    border: 1px solid var(--color-white);
}

/* Body */

body,
html {
    overflow-x: hidden;
}

/* Intro */

intro {
    width: 100vw;
    height: 100vh;
    display: block;
    padding: var(--projects-gap);
    display: grid;
    grid-gap: var(--projects-gap);
    grid-template-columns: 1fr 1fr;

}

intro content,
footer content {
    border-radius: var(--border-radius);
    padding: var(--projects-gap);
    background: var(--color-accent);
    display: block;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    line-height: 1.4em;
    width: 1fr
}

intro content * {
    font-size: 3rem;
    line-height: 1.4em;
}

intro content[info] {
    text-align: center;
    justify-items: center;
    justify-self: center;
    display: grid;
    align-items: center;
}

intro content[info] info {
    width: 75%;
}

intro content[clients] {
    font-size: var(--font-size-base);
}

intro content[clients] clients {
    column-count: var(--projects-columns);
    display: block;
    width: 100%;
}

intro content[clients] clients client {
    font-size: var(--font-size-base);
    line-height: 1rem;
    display: block;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 5px;
}

intro content[clients] clients client:after {
    content: "";
}

intro content[clients] clients client:last-of-type:after {
    content: " and many more";
}

/* Helpers */

bubble {
    border: 0.08em solid var(--color-black);
    border-radius: 50%;
    display: inline-block;
    padding: 0.1em 0.5em;
    line-height: 1.2em;
}

serif {
    font-family: var(--font-serif);
    font-style: normal;
    font-size: 1.14em !important;
    letter-spacing: -0.01em;
}

no-no-no-no-dont-phunk-with-my-words {
    display: block;
    width: 100%;
    position: relative;
}

/* Switch */




.switch {
    position: relative;
    display: inline-block;
    width: calc(2 * var(--switch-height));
    height: var(--switch-height);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border: 1px solid var(--color-black);
    box-sizing: border-box;
}

.slider:before {
    position: absolute;
    content: "";
    height: calc(var(--switch-height) - 8px);
    width: calc(var(--switch-height) - 8px);
    left: 2px;
    bottom: 2px;
    background-color: transparent;
    border: 1px solid var(--color-black);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: transparent;
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-black);
}

input:checked+.slider:before {
    -webkit-transform: translateX(var(--switch-height));
    -ms-transform: translateX(var(--switch-height));
    transform: translateX(var(--switch-height));
    background-color: var(--color-black);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* Projects */

projects {
    column-count: var(--projects-columns);
    column-gap: 0px;
    display: block;
    width: 100vw;
    overflow-x: auto;
    height: 100vh;
    scroll-snap-type: x proximity;
    scroll-snap-points-x: repeat(20vw);
    padding: var(--projects-gap) 0px;
    counter-reset: section;


}

/* Projects › Single Project */

project {
    padding: 0 var(--projects-gap);
    display: block;
    scroll-snap-align: start;
    margin-bottom: 50px;
}

/* Projects › Single Project › Fig. */

fig {
    font-family: var(--font-serif-small);
    font-style: italic;
    letter-spacing: 0.02rem;
}

fig:after {
    counter-increment: section;
    content: counter(section, decimal-leading-zero);

}

/* Projects › Single Project › Headline */

project h2 client,
project h2 mdrv,
project h2 personal-work {
    display: block;
}

project h2 client:before,
project h2 mdrv:before {
    font-style: italic;

    font-family: var(--font-serif-small);
    font-weight: normal;
    margin-right: 5px;
    text-transform: uppercase;
}

project h2 client:before {
    content: "for";
}

project h2 mdrv:before {
    content: "at";
}

/* Projects › Single Project › Project Image */

project-image {
    border-radius: var(--border-radius);
    margin: var(--projects-gap) 0;
    width: 100%;
    aspect-ratio: 16/9;
    display: block;
    overflow: hidden;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
}

project-image[cover] {
    background-size: cover !important;
}

project-image[contain] {
    background-size: contain !important;
}

project-info iframe {
    max-width: 100%;
    height: auto;
}

div.embed.video-player {
    overflow: hidden;
    border-radius: var(--border-radius);
}

/* Projects › Single Project › Year */

year {
    display: block;
}

/* Projects › Single Project › Tags */

tags {
    display: block;
    margin: var(--projects-gap) 0;
    line-height: 2.1rem;
    width: 100%;
    position: relative;
}

tag {
    border: 1px solid var(--color-black);
    border-radius: 3px;
    padding: 2px 5px;
    white-space: nowrap;
}

/* Projects › Single Project › Description */

project-info {
    display: block;
    margin-bottom: var(--projects-gap);
}

project-info p {

    text-indent: 10px;
}

project-info p:last-child {
    margin-bottom: 0px;
}

/* Projects › Single Project › View Project Button */

project a[project-link] {
    width: 100%;
    display: block;
    color: inherit;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

project a[project-link] link-content:after {
    content: "→";
    margin: 0 10px;
}

/* Footer */

footer {
    display: flex;
    display: block;
    padding: var(--projects-gap);
    display: grid;
    grid-gap: var(--projects-gap);
    grid-template-columns: 1fr 1fr;
    font-size: var(--font-size-base);
}

footer * {
    font-size: var(--font-size-base);
}

footer content {
    background: var(--color-shade);
    font-size: var(--font-size-base);
}

/* Responsive › Mobile */

@media (max-width: 767.98px) {

    :root {
        --projects-columns: 2;
    }
}