<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{- partial "section_clients.html" . -}}
        {{- block "main" . }}{{- end }}

        {{- partial "footer.html" . -}}
       <script>

        $(document).ready(function() {
          var $aframeVisible = $('.a-modal');
        
          if ( $aframeVisible.length){
            $('intro text').hide();
          }
        
        
        });
        
        
        $(".a-dialog-button").click(function () {
          $('intro text').show(250);
        });</script>
    </body>
</html>
