{{ define "main" }}

<mouse></mouse>

{{- partial "header.html" . -}}

{{- partial "section_clients.html" . -}}

<section id="projects">
    <projects class="grid-default">
        <switch-wrapper>
            <switch>
                <label class="switch">
                    <input type="checkbox" class="checkcheck"> <span class="slider round"></span></label>

            </switch>
            <switch-text>
                <div>🙈</div>
            </switch-text>

            <grid-slider>
                <slider-ui>
                    <input type="range" name="volume" min="1" max="7" id="gridColumns"></slider-ui>
                <label for="gridColumns" id="slider_value"></label>
            </grid-slider>
        </switch-wrapper>
        {{ range ( where .Site.RegularPages "Type" "posts" ) }}
        {{- partial "project.html" . -}}
        {{end}}
    </projects>
</section>
{{- partial "section_list.html" . -}}
{{ end }}