{{ define "main" }}
<projects>
    {{ range ( where .Site.RegularPages "Type" "posts" ) }}
    <project>
        <project-column>Fig. </project-column>
        <project-column>
            <project-image style="background: url({{ .Image }})"></project-image>
        </project-column>
        <project-column>

            <project-info>
                <h2>{{ .Title }}</h2>
                <project-description>{{ .Description }}</project-description>
                <project-meta><year>{{ .Params.Year }}</year></project-meta>
                
                {{ .Params.Tags }}
            </project-info>
        </project-column>


    </project>
    {{end}}
</projects>
{{ end }}