<a-scene vr-mode-ui="enabled: false" renderer="colorManagement: true;" zoom="0.1" embedded device-orientation-permission-ui="deviceMotionMessage: Allow Device Motion for the full experience;">
    <!-- Camera -->
    <a-entity camera look-controls
        orbit-controls="target: 0 0 0; minDistance: 0.5; maxDistance: 180; initialPosition: 0 0 2; enableZoom: false; enableRotate: false">
    </a-entity>
    <!-- Light -->
    <a-entity light="type: ambient; color: #fff; intensity: 2"></a-entity>
    <a-entity light="type: directional; color: #00ff00; intensity: 0.4" position="0 0 -4"></a-entity>


    <!-- Model -->
    <a-entity gltf-model="url({{ .Site.BaseURL }}/css/head.gltf)" scale="0.8  0.8 0.8"
        cube-env-map="path: {{ .Site.BaseURL }}/css/cubemap/; extension: png; " rotation="10 80 0" position="0 -0.4 0"
        animation="property: rotation; to: 10 -260 0; dur: 500000; easing: linear; loop: true">

    </a-entity>

    <div class="a-modal" aframe-injected=""><div class="a-dialog" aframe-injected=""><div class="a-dialog-text-container"><div class="a-dialog-text">Allow Device Motion for the full experience</div></div><div class="a-dialog-buttons-container"><button class="a-dialog-button a-dialog-deny-button" aframe-injected="">Deny</button><button class="a-dialog-button a-dialog-allow-button" aframe-injected="">Allow</button></div></div></div>
</a-scene>