<header>
    <ul data-scroll-header>
        <li><a href="#">Felix Buhler</a></li>
    </ul>
    <ul data-scroll-header>
        
        <li><a href="#clients" class="clients">Clients</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><city>Berlin, </city><time id="time"></time></li>
        <li><a href="https://felixbuhler.bigcartel.com" title="Shop my artworks" target="_blank" class="shop">Shop</a></li>
        <li><a href="#footer" class="footer">🛝</a></li>
    </ul>
</header>
<intro>{{- partial "intro.html" . -}}</intro>
