<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Felix Buhler is a Designer and Art Director from Berlin." />
  <meta name="keywords" content="design art director direction graphic typography" />
  <meta name="author" content="Felix Buhler" />
  <meta name="publisher" content="Felix Buhler" />
  <meta name="copyright" content="Felix Buhler" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta http-equiv="content-Language" content="en" />
  <meta name="theme-color" content="#FFFFFF">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/css/avicon.ico">
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/css/apple-touch-icon.png" />
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/css/apple-touch-icon.png" sizes="196x196">
  <link rel="stylesheet" href="https://use.typekit.net/oiv8rye.css" type="text/plain" data-type="text/css"
    data-name="adobefonts">


  <!-- Klaro -->
  <script defer type="application/javascript" src="{{ .Site.BaseURL }}/js/config.js"></script>
  <script defer data-config="klaroConfig" type="application/javascript" src="{{ .Site.BaseURL }}/js/klaro.js">
  </script>

  <!--Site JavaScript -->
  <script src="{{ .Site.BaseURL }}/js/site.js" defer type="text/javascript"></script>

  <!-- A-Frame -->
  <script src="{{ .Site.BaseURL }}/js/aframe.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/aframe-orbit-controls.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/aframe-extras.min.js"></script>

  <!-- CSS Files Links -->
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">



  <!-- jQuery -->
  <script src="{{ .Site.BaseURL }}/js/jquery-3.6.1.slim.min.js"></script>


  <!-- Marquee 3000 -->
  <script src="{{ .Site.BaseURL }}/js/marquee3k.min.js" defer type="text/javascript"></script>
  <!-- Smooth Scroll -->
  <script src="{{ .Site.BaseURL }}/js/smooth-scroll.min.js"></script>




  <!-- Title -->
  <title>{{ .Page.Title }}</title>
</head>