<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Fonts Pre Connect -->
  <link rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin>
  <link rel="preconnect"
    href="https://fonts.googleapis.com">
  <!-- Meta Tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

  <!-- Fonts Links -->
  <link
    href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,300;1,9..144,300&family=Inter:wght@400;600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://use.typekit.net/oiv8rye.css">



  <!-- CSS Files Links -->
  <link rel="stylesheet"
    href="{{ .Site.BaseURL }}/css/style.css">

  <!-- Marquee 3000 -->
  <script src="{{ .Site.BaseURL }}/js/marquee3k.min.js"
    defer
    type="text/javascript"></script>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
    crossorigin="anonymous"></script>

  <!-- Site JavaScript -->
  <script src="{{ .Site.BaseURL }}/js/site.js"
    defer
    type="text/javascript"></script>

  <!-- Title -->
  <title>{{ .Page.Title }}</title>
</head>