<content info>
    <ddd>{{- partial "aframe.html" . -}}</ddd>
    <text>
        <h1>Felix Buhler</h1>
        {{ with .Site.GetPage "/intro.md" }}{{ .Content }}{{ end }}
    </text>
</content>
<content contact>
    <text>
        I love to do 
        <art>
            <p class="tt">Graphic Design</p>
            <p class="tt">Webdesign</p>
            <p class="tt">Print Design</p>
            <p class="tt">User Experience Design</p>
            <p class="tt">User Interface Design</p>
            <p class="tt">Editorial Design</p>
            <p class="tt">Campaign</p>
            <p class="tt">Branding</p>
            <p class="tt">Motion Design</p>
            <p class="tt">AR</p>
            <p class="tt">Coding</p>
            <p class="ttt">&nbsp;</p>
        </art><br>for brands, artists and you. <br><br>My work was featured by Kaltblut Magazine, ⌘E, Zwischenablage, Happyzine, Blank Poster Vol. 1 .<br><br>
        <contact><a href="">Instagram</a> <a href="">Mail</a> <a href="">Behance</a> <a href="">GitHub</a></contact>
    </text>
</content>