<content info>
    <ddd>{{- partial "aframe.html" . -}}</ddd>
    <text>
        <h1>Felix Buhler</h1>
        {{ with .Site.GetPage "/intro.md" }}{{ .Content }}{{ end }}
    </text>
</content>
<content contact>
    <text>
        I love to do <br>
        <art>
            <p class="tt">Graphic Design</p>
            <p class="tt">Webdesign</p>
            <p class="tt">Print Design</p>
            <p class="tt">User Experience Design</p>
            <p class="tt">User Interface Design</p>
            <p class="tt">Editorial Design</p>
            <p class="tt">Campaign</p>
            <p class="tt">Branding</p>
            <p class="tt">Motion Design</p>
            <p class="tt">AR</p>
            <p class="tt">Coding</p>
            <p class="ttt">&nbsp;</p>
        </art><br>for brands, artists and you. <br><br>My work was featured by Kaltblut Magazine, ⌘E, Happyzine (Forward
        Festival), Blank Poster Vol. 1, Design Shifts, Cruel Letters (St.
        Petersburg) and many more.<br><br>
        <contact><a href="https://www.instagram.com/felixbuhler/" title="Felix Buhler on Instagram">Instagram</a> <a
                href="" data-part1="hi" data-part2="felix-buhler" data-part3="de">Mail</a> <a href="https://www.behance.net/felix-buhler"
                title="Felix Buhler on Behance">Behance</a> <a href="https://github.com/felixbuhler"
                title="Felix Buhler on GitHub">GitHub</a></contact>
    </text>
</content>