<list>
        <content>
                <cv>
                        <h2>CV</h2>
                        <feature>
                                <year>Ongoing</year>
                                <h4>Teaching & Input</h4>

                                <p>MDRV (DHBW Ravensburg)<br>Kapuziner Kreativzentrum</p>
                        </feature>
                        <feature>
                                <year>Since ’21</year>
                                <h4>Art Direction</h4>

                                <p>formdusche — Studio für Gestaltung (Berlin)</p>
                        </feature>
                        
                        <feature>
                                <year>2019 — 21</year>
                                <h4>Junior Art Direction</h4>

                                <p>formdusche — Studio für Gestaltung (Berlin)</p>
                        </feature>
                        <feature>
                                <year>2018 — 19</year>
                                <h4>Art Direction</h4>

                                <p>Militzer & Kollegen (Leipzig)</p>
                        </feature>
                        <feature>
                                <year>2017 — 18</year>
                                <h4>Junior Art Direction</h4>
                                <p>LIGHTHOUSE (Lindau)</p>
                        </feature>
                        <feature>
                                <year>2017</year>
                                <h4>Bachelor of Arts</h4>
                                <p>»Die Wichtigkeit Des Banalen — Die Tür«<br>MDRV (DHBW Ravensburg)</p>
                        </feature>
                        <feature>
                                <year>2014 — 17</year>
                                <h4>Dual Studies</h4>
                                <p>LIGHTHOUSE (Lindau)<br>MDRV (DHBW Ravensburg)</p>
                        </feature>
                        <feature>
                                <year>2014</year>
                                <h4>Internship</h4>
                                <p>LIGHTHOUSE (Lindau)</p>
                        </feature>

                </cv>
                <features>
                        <h2>Features</h2>
                        {{ range ( where .Site.Pages "Type" "features" ).Reverse.ByParam "featureYear"}}<feature>
                                <h4>{{ .Params.featureTitle }}</h4>
                                <year>{{ .Params.featureYear }}</year>
                                <p>{{ .Params.featureDescription }}</p><a href="{{ .Params.client_url }}" target="_blank"
                                        title="Go to {{ .Params.featureTitle }} ↗">View</a>
                        </feature>
                        {{end}}
                </features>
        </content>
</list>